!!! XML
!!!
%head
  %title Кобеляки
  %link(rel='stylesheet' href='main.css' type='text/css')
  %script(src='jquery-1.3.2.min.js' type='text/javascript')
  %script(src='unobtrusive.js' type='text/javascript')

%body
  #header
    %h1 Кобеляки
  #nav
    .nav_box(code='aP' img_path='kobeliaky_aPi-iii.png') aP
    .nav_box(code='aN2-P1' img_path='kobeliaky_a8-10n2-p1.png') aN<sub>2</sub>-P<sub>1</sub>
    .nav_box(code='P\'2bč' img_path='kobeliaky_p2bc.png') P<sub>2</sub>bč
    .nav_box(code='N1-P2-3' img_path='kobeliaky_hr.png') N<sub>1</sub>-P<sub>2-3</sub>

  #map_div
    %img#map(src='')

  #descr_popup
    %iframe#descr(src='datatable.html')


